:root{
    --color-blanco: #E5E5E5;
    --color-gris: #D8DFE8;
    --color-azul:  #0A3871;
    --color-darkblue: darkblue;
    --inter-font: 'Inter', sans-serif;
    --inter-font-regular: 'Inter Regular', sans-serif;
}



body {
    font-family: var(--inter-font);
    background-color: var(--color-blanco);
    display: flex;
    flex-direction: column;
    margin: 1%;
}

main {
    flex: 1;
    display: flex;
    justify-content: space-around;
}

.header{
    width: 120px;    
    height: 48px;
    padding-left: 44px;
    padding-right: 44px;
    margin-left: 40px;
    margin-top: 40px;       
}

/*Parte uno insertar texto y encriptar o desencriptar*/
.parte_uno{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
}

.contenedor{
    align-self: center;
    border-radius: 6px;
    border: 1px solid transparent;
    background-color: transparent;
    color: var(--color-azul);
    padding: 4px;
}

.texto-encriptar{
    width: 100%;
    max-width: 577px;
    border-color: transparent;
    height: 64dvh;
    outline: none;
    background-color: transparent;
    font-family: var(--inter-font);
    font-size: 2rem;
    color: var(--color-darkblue);
    margin-bottom: 1.5rem;
    overflow: auto;
    resize: none;
}

.titulo-texto{
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.boton_enc {
    background-color: darkblue;
    color: #D8DFE8;
    font-size: 1rem;
    padding: 24px 24px;
    margin: 5px;
    height: 67px;
    border-radius: 1.5rem;
    text-decoration: none;
    gap: 24px;
    width: 252px;
    font-family: 'Inter', sans-serif;
}

.boton_enc:hover{
    background-color: #0056b3;
}

.boton_desen {
    background-color: var(--color-gris);
    font-size: 1rem;
    padding: 24px 24px;
    margin: 5px;
    height: 67px;
    border-radius: 1.5rem;
    text-decoration: none;
    gap: 24px;
    width: 252px;
    font-family: 'Inter', sans-serif;
}

.boton_desen:hover{
    background-color: #0056b3;
}

/*Parte dos imagen muñeco, mostrar mensaje encriptado y botón copiar*/
.parte_dos{
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:24px;
    height: 85dvh;
    border-radius: 32px;
    width: 400px;
}

.ocultar_muneco{
    width: 336px;
    border-color: transparent;
    height: 781px;
    outline: none;
    background-color: white;
    font-family: var(--inter-font-regular);
    font-size: 2rem;
    color: var(--color-darkblue);
    margin-bottom: 1.5rem;
    resize: none;
}

.contenedor_dos{
    text-align: center;
}

.boton_copia{
    background-color: transparent;
    font-size: 1rem;
    margin: 5px;
    padding: 24px 24px;
    height: 67px;
    border-radius: 1.5rem;
    text-decoration: none;
    gap: 24px;
    width: 336px;
    font-family: 'Inter', sans-serif;
}

.boton_copia:hover{
    background-color: #0056b3;
}



.footer{
    background-color: var(--color-blanco);
    padding: 0.25rem;
    color: var(--color-azul);
    text-align: center;
    font-family: var(--inter-font-regular);
    font-size: 1rem;
    font-weight: 352px;
    margin-top: auto;
}

@media (min-width: 768px) and (max-width: 1024px){
    main{
        flex-direction: column;
    }
    .parte_dos{
        height: auto;
        max-width: 624px;
        margin-top: 2rem;
    }

    #logo{
        padding-left: 40px;
        margin-left: 0px;
    }

    .parte_uno{
        flex-direction: column;
        gap: 40px;
    }

    #muneco{
        display: none;
    }

    #copiaBoton{
        display: none;
    }

    .header{
        padding-left: 40px;
        margin-left: 0px;
    }
    .titulo-muneco{
        margin-top: 16px;
        text-align: center;
    }
    .footer{
        font-size: 1.1rem;
    }
}

@media (max-width: 767px){
    main {
        flex-direction: column;
      }
    
    .contenedor {
        flex-direction: row;
        display: flex;
        justify-content: space-around;
        gap: 24px;
    }
    
    #logo{
        padding-left: 40px;
        margin-left: 0px;
    }

    .parte_uno {
        flex-direction: column;
        gap: 40px;
        padding: 16px
    }
    
    .parte_dos{
        height: auto;
        max-width: 624px;
        margin-top: 2rem;
    }

    #muneco{
        display: none;
    }

    .header {
        padding-left: 40px;
        margin-left: 0px;
     }
    
    .texto-encriptar {
      margin-top: 0px;
     }

    .contenedor_dos {
      margin-top: 8px;
      text-align: center;
    }
    .footer{
        font-size: 1rem;
        padding: 0.5rem;
    }
}